# fly.toml app configuration file generated for susanoo-relayer on 2026-02-14T22:17:09+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'susanoo-relayer'
primary_region = 'ams'

[build]

[env]
  HOST = '0.0.0.0'
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
